
      <div class="row">
        <div class="col s12 m6">
          <div class="card white">
            <div class="card-content black-text">

            </div>

            <div class="card-action">
              <%= simple_format(tweet.text) %>
        <span class="name"><%= tweet.name %></span>
           <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get %>
           <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>
           <%= link_to "削除", "/tweets/#{tweet.id}", method: :delete %>
            </div>
          </div>
        </div>
      </div>
